body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #25d0d6;
}

h1, h2, h3 {
    color: #010708;
    text-align: center;
}

.menu-section {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #1594bb;
    box-shadow: 0 2px 4px rgba(177, 33, 182, 0.1);
}

.menu-item {
    margin-bottom: 20px;
}

.back-to-top {
    text-align: right;
    margin-top: 20px;
}

.back-to-top a {
    text-decoration: none;
    color: #440322;
    transition: color 0.3s;
}

.back-to-top a:hover {
    color: #b30077;
}

.menu-item h4 {
    margin: 10px 0;
    font-size: 1.2em;
}

.menu-item p {
    margin: 0;
    color: #160303;
}
